---
import { cn } from "../../lib/cn";
import type { PostFrontmatter } from "../../lib/post";

interface Props {
  data: PostFrontmatter;
  class?: string;
}
const { data, class: className = "" } = Astro.props;

const publish = new Date(data.publish).toISOString().split("T")[0];
const hasLastUpdate = "lastUpdate" in data;
const lastUpdate = hasLastUpdate
  ? new Date(data.lastUpdate).toISOString().split("T")[0]
  : "";
---

<div
  class={cn(
    "flex justify-start font-zen-maru-gothic-medium font-[400] text-[#6f6152] dark:text-[#8aa0bb] italic",
    className,
  )}
>
  <span class="pr-1">投稿日</span>{publish}
  {
    hasLastUpdate && (
      <>
        <span class="pl-2 pr-1">» 最終更新日</span>
        {lastUpdate}
      </>
    )
  }
</div>
